{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
    </head>
    <body> 
        <div>
            <form action="/wiki/page/{{ id }}/like/" method="POST">
                <input type="submit" value="Like Post ({{ like_count }} likes)" /><br><br>
                <a href="/wiki/page/{{ id }}/likes/">View All Likes</a>
                {% csrf_token %}
            </form>

        </div>
        <br>
        <div id="content" style="display: none;">{{ content }}</div>
        <div>
            <a href="/wiki/">&lt; Go Back</a>
        </div>
    </body>
    <script src="{% static 'markdown-renderer.min.js' %}"></script> <!-- Load bundled JS -->
</html>
